
{{ form_start(form) }}

    <div class="container-relative top_image">
            <img src="{{ asset(form.topImage.vars.data.webPath|default('img/trick/default.jpg')) }}">
        <div class="edit-links-absolute">
            {{ include('medias/image.edit.html.twig', { 'image' :form.topImage }) }}
        </div>
    </div>
<div class="row marginTop30">
    <div class="btn btn-secondary d-sm-none marginBottom30 showMedias" data-toggle="collapse" data-target="#trick_medias">See medias.</div>

    <div id="trick_medias" class="collapse">
        <div class="flex-container vignette-container">

            <div class="images flex-container col-6" data-prototype="{{ form_widget(form.bottomImages.vars.prototype)|e('html_attr') }}">
                {% for image in form.bottomImages %}
                    <div class="media-vignette col-lg-4 col-md-4 col-12">
                        <img class="card-img-top" src="{{ asset(image.vars.data.webPath|default('img/trick/default.jpg')) }}">
                        <div>
                            {{ include('medias/image.edit.html.twig', {  }) }}
                        </div>
                    </div>
                {% else %}
                    <div class="media-vignette col-lg-4 col-md-4 col-12">
                        <div class="">no image yet</div>
                    </div>
                {% endfor %}
            </div>
            <div class="videos flex-container col-6" data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}">
                {% for video in form.videos %}
                    <div class="media-vignette col-lg-4 col-md-4 col-12">
                        {{ video.vars.data.video|raw }}
                        <div>
                            {{ include('medias/video.edit.html.twig', {  }) }}
                        </div>
                    </div>

                {% else %}
                    <div class="media-vignette col-lg-4 col-md-4 col-12">
                        <div class="">no video yet</div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
<div class="clearfix marginTop30"></div>
<div class="row">
    <div class="col-md-6 col-12 images-box"></div>
    <div class="col-md-6 col-12 videos-box"></div>
    <div class="col-md-6 col-6 images-button-box marginTop30"></div>
    <div class="col-md-6 col-6 videos-button-box marginTop30"></div>
</div>

<div class="clearfix marginTop30"></div>


{{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.groups) }}

<input class="btn btn-primary" type="submit" value="{{ button_label|default('Save') }}" />
{{ form_end(form) }}