<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark items-lg">
    <div class="container">
        <a class="navbar-brand items-lg" href="{{ path('trick_index') }}">Trick Slider</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTrickSlider" aria-controls="navbarTrickSlider" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTrickSlider">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link items-lg" href="{{ path('trick_index') }}">Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link items-lg" href="{{ path('trick_index') }}#tricks">Tricks
                </a>
            </li>
            <li class="nav-item">

                {% if is_granted('ROLE_ADMIN') %}
                    <a class="nav-link items-lg" href="{{ path('logout') }}">Sign out</a>
                {% else %}
                    <a class="nav-link items-lg" href="{{ path('login') }}">Sign in</a>
                {% endif %}
            </li>
            {% if not is_granted('ROLE_ADMIN') %}
                <li class="nav-item items-lg">
                    <a class="nav-link" href="{{ path('user_registration') }}">Sign up</a>
                </li>
            {% endif %}

        </ul>
        </div>
    </div>
</nav>

<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark items-sm">
    <div class="container-fluid">
        <div class="bottom-nav">
                <div><a class="nav-link items-sm" href="{{ path('trick_index') }}">
                    <span class="oi oi-home" title="home" aria-hidden="true"></span></a></div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div><a class="nav-link items-sm" href="{{ path('logout') }}">
                        <span class="oi oi-account-logout" title="account-logout" aria-hidden="true"></span></a></div>
                {% else %}
                    <div><a class="nav-link items-sm" href="{{ path('login') }}">
                        <span class="oi oi-account-login" title="account-login" aria-hidden="true"></span></a></div>
                {% endif %}
                {% if not is_granted('ROLE_ADMIN') %}
                    <div><a class="nav-link items-sm" href="{{ path('user_registration') }}">
                            <span class="oi oi-bookmark" title="bookmark" aria-hidden="true"></span></a></div>
                {% endif %}

        </div>
    </div>
</nav>