{% extends modal == '0'
    ? 'base.html.twig'
    : 'trick/empty.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="container-relative">
                <img src="{{ asset(trick.topImage.webPath|default('img/trick/default.jpg')) }}">
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="edit-links edit-links-absolute">
                        <a href="{{ path('trick_edit', {'id': trick.id}) }}"><span class="oi oi-pencil" title="pencil" aria-hidden="true"></span></a>

                        {{ include('trick/_delete_form.html.twig') }}
                    </div>
                {% endif %}

                <h1 class="display-4 trick-title">{{ trick.name }}</h1>
            </div>
        </div>

        <div class="row marginTop30">
            <button id="showMedias" class="btn d-sm-none marginBottom30" data-toggle="collapse" data-target="#trick_medias">See medias.</button>

            <div id="trick_medias" class="collapse">
                <div class="flex-container">
                    {% for image in images %}
                        <div class="media-vignette col-lg-2 col-md-6 col-6">
                            <img src="{{ asset(image.webPath|default('img/trick/default.jpg')) }}">
                        </div>

                    {% else %}
                        <div class="media-vignette col-lg-2 col-md-6 col-6">no image yet</div>
                    {% endfor %}

                    {% for video in trick.videos %}
                        <div class="media-vignette col-lg-2 col-md-6 col-6">
                            {{ video.video|raw }}
                        </div>

                    {% else %}
                        <div class="media-vignette col-lg-2 col-md-6 col-6">no video yet</div>
                    {% endfor %}
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12 marginTop30">
                <p>{{ trick.description }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 flex-around marginTop30">
                <div><h5><span class="badge badge-info">Created : {{ trick.dateCreated ? trick.dateCreated|date('Y-m-d') : '' }}</span></h5></div>
            {% if trick.dateUpdated is not empty %}
                <div><h5><span class="badge badge-info">Updated : {{ trick.dateUpdated ? trick.dateUpdated|date('Y-m-d') : '' }}</span></h5></div>
            {% endif %}
            {% for group in trick.groups %}
                <div><h5><span class="badge badge-primary">{{ group.name }}</span></h5></div>
            {% endfor %}
            </div>
        </div>

        <div class="row"></div>

        {% if modal == 0 %}
        <a href="{{ path('trick_index') }}">back to list</a>
        {% endif %}


        {% if is_granted('ROLE_ADMIN') %}
            {{ include('trick/commentForm.html.twig') }}
        {% endif %}

        <div class="comments">
        {{ include('trick/comments.html.twig') }}

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if modal == 1 %}
        {{ include('trick/comment.form.ajax.html.twig', {submitPath: path('trick_show', {'id': trick.id, 'modal': modal, 'slug': trick.slug})}) }}
    {% else %}

    {% endif %}

{% endblock %}